#API Development and Web Server
fastapi
uvicorn[standard]

# Model Validation
pydantic
pydantic-settings
pydantic[email]

# DB Interaction and Migration assistant
sqlalchemy
psycopg2-binary
alembic
asyncpg

# Cryptography libraries
python-jose[cryptography]
passlib[bcrypt]

#File Handling
aiofiles
python-multipart

# PDF parsing
unstructured[pdf]
pymupdf
pillow
pdfminer.six==20221105
pi_heif

#Handle Environment Variables
python-dotenv

# # Testing tools
# pytest
# pytest-asyncio
# aiosqlite

#Excel Sheet Reading (If needed)
openpyxl

# To make 3rd Party API Request Calls (If needed)
httpx
